*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background-color: #06619a;
}

.page-container{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 90%;
  margin: 50px auto;
}
.page-container .input-container{
  width: 50%;
  margin: 0 auto;;
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* justify-content: center; */
 
}
.page-container .input-container input{
  padding: 10px;
  border:none;
  color:#8b9aaa;
  font-size: 20px;
  background-color:#FBFBFB;
}
.page-container .input-container button{
  padding: 10px;
  background-color: #EFEFEF;
  color: #0079C5;
  cursor: pointer;
  font-size: 20px;
  border: none;

}
.statusName{
  color: #f0f5f8;
}
.page-container .input-container button:hover{
  opacity: .7;
}

.tasks-container{
 
  display: flex;
  justify-content: space-between;
  margin-top: 40px;


}
.empty-input{
  background-color: rgb(218, 175, 175);

  padding: 15px;
}
ul{
  list-style-type: none;
  /* min-width: 200px; */
  width: 250px;
  
  min-height: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #d3d2d2;
 

}
ul li{
  color: #3F87C3;
  background-color: #FFFFFF;
  padding: 10px;
  margin-bottom: 10px;
  min-width: 150px;
  
}
ul li:last-child{
  margin-bottom: 0;
}
ul li .delete-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;

}
ul li .delete-container h3{
  font-style: italic;
  word-break: break-word;
  width: 80%;
  
}
.tasksEmpty{
  color: #3F87C3;
  padding-top: 10px;

}
@media screen and (max-width:940px){
  .page-container .input-container{
    width: 98%;
  }
  ul{
   
    margin: 30px auto;
    min-width: 300px;
    min-height: 400px;
    
  }
  li{
    min-width: 100px;

  }
  .tasks-container{
    flex-direction: column;
    
  }
  
}