*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background-color:#124559
}

.page-container{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 90%;
  margin: 50px auto;
}
.page-container .input-container{
  width: 50%;
  margin: 0 auto;;
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* justify-content: center; */
 
}
.page-container .input-container input{
  padding: 10px;
  border:none;
  color:#124559;
  font-size: 20px;
  background-color:#FBFBFB;
}
.page-container .input-container button{
  padding: 10px;
  background-color: #EFEFEF;
  color: #124559;
  cursor: pointer;
  font-size: 20px;
  border: none;

}
.statusName{
  color: #f0f5f8;
}
.page-container .input-container button:hover{
  opacity: .7;
}

.tasks-container{
 
  display: flex;
  justify-content: space-between;
  margin-top: 40px;


}
.empty-input{
  background-color: rgb(218, 175, 175);

  padding: 15px;
}
ul{
  list-style-type: none;
  /* min-width: 200px; */
  width: 250px;
  
  min-height: 500px;
  
  padding: 15px 8px;
  display: flex;
  flex-direction: column;
  background-color: #d3d2d2;

}
.list-container h2{
  width: 100%;
  text-align: center;
    padding: 10px;
}
.list-container:first-child{
  border-left: 5px solid #5559D6
 


}
.list-container:first-child h2{
 
  background-color: #5559D6
  
}
.list-container:first-child li{
 
  background-color: #5559D6
  
}

.list-container:nth-child(2){
  border-left: 5px solid #F1AE53
 


}
.list-container:nth-child(2) h2{
 
  background-color: #F1AE53   
  
}
.list-container:nth-child(2) li{
 
  background-color: #F1AE53   
  
}

.list-container:nth-child(3){
  border-left: 5px solid #D04F61
 


}
.list-container:nth-child(3) h2{
 
  background-color:  #D04F61  
  
}
.list-container:nth-child(3) li{
 
  background-color:  #D04F61  
  
}

.list-container:nth-child(4){
  border-left: 5px solid #5AC57D
 


}
.list-container:nth-child(4) h2{
 
  background-color:   #5AC57D
  
}
.list-container:nth-child(4) li{
 
  background-color:   #5AC57D
  
}
ul li{
  color: #f5f8f9;
  padding: 10px;
  margin-bottom: 10px;
  min-width: 150px;
  
}
ul li:last-child{
  margin-bottom: 0;
}
ul li .delete-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;

}
ul li .delete-container h3{
  font-style: italic;
  word-break: break-word;
  width: 80%;
  
}
.tasksEmpty{
  color: #437488;
  padding-top: 10px;

}
@media screen and (max-width:1200px){
  .page-container .input-container{
    width: 98%;
  }
  ul{
   
    
    min-width: 40vw;
    min-height: 400px;

    
  }
  li{
    min-width: 100px;

  }
  .tasks-container{
    /* flex-direction: column; */
    overflow-x: auto;
   
    
  }
  .list-container{
    display: flex;
   margin-left: 20px;
  }
  .list-container:first-child{
    margin-left: 0;
  }
  
}